.footer-wrapp {
    max-width: 1392px;
    width: 100%;
    height: 330px;
    background-color: #1C1A25;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 32px;
    margin-bottom: 50px;
}

footer {
    width: 86%;
    margin: 0 auto;
    padding-top: 52px;
}

.footer-top-row {
    display: flex;
    justify-content: space-between;
}

.footer-top-row p {
    width: 38%;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    color: #FDFDFD;
}

.footer-logo {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.footer-logo p {
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    color: #FFFFFF;
    padding-left: 15px;
}

.footer-form {
    display: flex;
    max-width: 473px;
    width: 100%;
    height: 52px;
    font-family: 'Onest', sans-serif;
}

.footer-form input {
    max-width: 290px;
    width: 100%;
    height: 100%;
    background: #FDFDFD;
    border-radius: 99px;
    margin-right: 10px;
    padding-left: 20px;
}

.footer-form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.4px;
    color: #1C1A25;
}

.footer-form button {
    max-width: 175px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(274.56deg, #F08776 -29.93%, #F7CBA2 100%);
    border-radius: 99px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.4px;
    color: #1C1A25;
}

.footer-bottom-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-bottom-row-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-content-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-bottom-content-item ul {
    padding-top: 15px;
    max-width: 325px;
    width: 100%;
}

.footer-bottom-content-item ul li {
    padding-right: 20px;
}

.footer-bottom-content-item ul li a {
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.4px;
    color: #FDFDFD;
}

.footer-bottom-row-content>.footer-bottom-content-item:nth-child(2) {
    align-items: flex-end;
    justify-content: end;
}

.social-icons {
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-bootom-privacy-policy {
    margin: 0 auto;
    margin-top: 20px;
}

.footer-bootom-privacy-policy p {
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.4px;
    text-align: center;
    color: #FDFDFD;
    opacity: 70%;
}

.privacy-policy-link {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.privacy-policy-link a {
    color: #AFA6EE;
    opacity: 70%;
}