.footer-wrapp {
    max-width: 1392px;
    width: 100%;
    height: 330px;
    background-color: #1C1A25;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 32px;
    margin-bottom: 50px;
}

footer {
    width: 86%;
    margin: 0 auto;
    padding-top: 52px;
}

.footer-top-row {
    display: flex;
    justify-content: space-between;
}

.footer-top-row p {
    width: 38%;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    color: #FDFDFD;
}

.footer-logo {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.footer-logo p {
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    color: #FFFFFF;
    padding-left: 15px;
}

.footer-form {
    display: flex;
    max-width: 473px;
    width: 100%;
    height: 52px;
    font-family: 'Onest', sans-serif;
}

.footer-form input {
    max-width: 290px;
    width: 100%;
    height: 100%;
    background: #FDFDFD;
    border-radius: 99px;
    margin-right: 10px;
    padding-left: 20px;
}

.footer-form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.4px;
    color: #1C1A25;
}

.footer-form button {
    max-width: 175px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(274.56deg, #F08776 -29.93%, #F7CBA2 100%);
    border-radius: 99px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.4px;
    color: #1C1A25;
}

.footer-bottom-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-bottom-row-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-content-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-bottom-content-item ul {
    padding-top: 15px;
    max-width: 325px;
    width: 100%;
}

.footer-bottom-content-item ul li {
    padding-right: 20px;
}

.footer-bottom-content-item ul li a {
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.4px;
    color: #FDFDFD;
}

.footer-bottom-row-content>.footer-bottom-content-item:nth-child(2) {
    align-items: flex-end;
    justify-content: end;
}

.social-icons {
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-bootom-privacy-policy {
    margin: 0 auto;
    margin-top: 20px;
}

.footer-bootom-privacy-policy p {
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.4px;
    text-align: center;
    color: #FDFDFD;
    opacity: 70%;
}

.privacy-policy-link {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.privacy-policy-link a {
    color: #AFA6EE;
    opacity: 70%;
}



// /* Общий стиль для контейнера формы */
// .form-container {
//     background-color: #ffffff; /* Белый фон */
//     border-radius: 15px; /* Скругленные углы */
//     padding: 20px;
//     width: 100%;
//     max-width: 400px;
//     margin: 0 auto;
//     text-align: center;
//     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень */
//   }
  
//   /* Заголовок */
//   .form-container h2 {
//     font-size: 20px;
//     font-weight: 600;
//     line-height: 1.5;
//     color: #000000; /* Черный текст */
//     margin-bottom: 20px;
//   }
  
//   /* Форма */
//   .signup-form {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//   }
  
//   /* Поле ввода */
//   .signup-form input[type="email"] {
//     padding: 15px;
//     font-size: 16px;
//     border: 1px solid #e0e0e0; /* Светло-серая граница */
//     border-radius: 30px; /* Скругленные углы */
//     outline: none;
//     width: 100%;
//     transition: border-color 0.3s ease;
//   }
  
//   /* Ховер и фокус для поля ввода */
//   .signup-form input[type="email"]:focus {
//     border-color: #ff7e5f; /* Оранжевый при фокусе */
//   }
  
//   /* Кнопка */
//   .signup-form button {
//     padding: 15px;
//     font-size: 16px;
//     font-weight: 600;
//     color: #ffffff; /* Белый текст */
//     background: linear-gradient(to right, #ff7e5f, #feb47b); /* Градиент */
//     border: none;
//     border-radius: 30px; /* Скругленные углы */
//     cursor: pointer;
//     transition: background 0.3s ease;
//   }
  
//   /* Ховер для кнопки */
//   .signup-form button:hover {
//     background: linear-gradient(to right, #feb47b, #ff7e5f); /* Инвертируем градиент */
//   }


/* Общий стиль для формы */
.form-container {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 15px;
    padding: 60px 67px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 50;
  }
  
  /* Заголовок */
  .form-container h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 20px;
  }
  
  /* Форма */
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Поле ввода */
  .signup-form input[type="email"] {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    outline: none;
    width: 93%;
    transition: border-color 0.3s ease;
    background-color: #F2F3F4;
  }
  
  /* Фокус для поля */
  .signup-form input[type="email"]:focus {
    border-color: #ff7e5f;
  }
  
  /* Кнопка */
  .signup-form button {
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #1C1A25;
    background: linear-gradient(to right, #feb47b ,#ff7e5f,);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  

  .close-button {
    position: absolute;
    top: -60px;
    right: -5px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .close-button:hover {
    color: #000;
  }
  
  /* Затемнённый фон */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C1A2533; 
    display: none; 
    z-index: 20; 
  }
  
  /* Адаптивный стиль для десктопа */
  @media (min-width: 1920px) {
    .form-container {
      max-width: 600px;
      padding: 40px;
    }
  
    .form-container h2 {
      font-size: 24px;
    }
  
    .signup-form {
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  
    .signup-form input[type="email"] {
      flex: 1;
    }
  
    .signup-form button {
      flex-shrink: 0;
      padding: 15px 30px;
    }
  }



  @media(max-width:580px){
    .form-container {
        width: 100%;
        max-width: 90%;
        padding: 40px 15px;
    }
    .signup-form input[type=email] {
        width: 92%;
    }
  }


  @media(max-width:480px){
    .form-container {
        width: 100%;
        max-width: 85%;
    }
    .signup-form input[type=email] {
        width: 91%;
    }
  }






@media(max-width:1420px){
    .footer-wrapp {
        width: 98%;
        margin-bottom: 20px;
    }
}

@media(max-width:1200px){
    .footer-wrapp {
        width: 96%;
    }
}

@media(max-width:1090px){
    footer {
        width: 96%;
        margin: 0 auto;
    }
}

@media(max-width:980px){
    .footer-top-row p {
        font-size: 16px;
        line-height: 22.8px;
    }
}

@media(max-width:840px){
    .footer-wrapp {
       height: auto;
       padding-bottom: 20px;
    }
    .footer-form {
        max-width: 315px;
        height: auto;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    .footer-form input {
        margin-right: 0px;
        height: 52px;
        margin-bottom: 10px;
    }
    .footer-form button {
        max-width: 100%;
    }
    .footer-top-row p {
        width: 47%;
    }
}

@media(max-width:680px){
    .footer-bottom-content-item {
        width: 60%;
    }
    .footer-bottom-row-content > .footer-bottom-content-item:nth-child(2) {
        width: 30%;
        align-items: flex-start;
    }
}

@media(max-width:640px){
    footer {
        padding-top: 20px;
    }
    .footer-top-row {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    .footer-top-row p {
        max-width: 365px;
        width: 100%;
        text-align: center;
    }
    .footer-form {
        max-width: 70%;
        margin-top: 20px;
    }
    .footer-form input {
        max-width: 100%;
    }
    .footer-wrapp {
        margin-top: 65px;
    }
    .footer-bootom-privacy-policy {
        padding-bottom: 30px;
    }
}

@media(max-width:550px){
    .footer-bottom-content-item {
        width: 70%;
    }
    .footer-form input {
        max-width: 93%;
    }
}

@media(max-width:480px){
    .footer-bottom-row-content {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
    }
    .footer-bottom-content-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-wrapp {
        margin-bottom: 15px;
    }
   
}

@media(max-width:450px){
    .footer-wrapp {
        width: 94%;
        margin-top: 67px;
    }
    .footer-bottom-content-item ul {
        max-width: 100%;
    }
    .footer-form input {
        max-width: 93%;
    }
    .footer-top-row  {
        margin-top: 10px;
    }
    .footer-form {
        max-width: 94%;
        margin-top: 20px;
    }
    .footer-wrapp {
        margin-top: 63px;
        border-radius: 24px;
        padding-bottom: 0px;
    }
    .footer-top-row p {
        max-width: 326px;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
    .footer-bottom-row {
        width: 94%;
        margin: 0 auto;
    }
    .footer-bottom-row-content > .footer-bottom-content-item:nth-child(2) {
        width: 40%;
    }
    .footer-bootom-privacy-policy {
        margin-top: 0px;
    }
    .footer-logo {
        margin-top: 32px
    }
    .footer-bottom-content-item ul {
        padding-top: 20px;
    }
    
}

@media(max-width:360px){
    .footer-bottom-content-item ul li a {
        font-size: 14px;
        line-height: 18.4px;
    }
}





